<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up">
                <h3 class="section-title">
                    <span class='n-section-title'>-</span> {{"AboutMe.Title" | translate}}
                </h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <div class="about-description">
                        <p *ngFor='let text of "AboutMe.Paragraphs" | translate' [innerHTML]="text" data-aos="fade-up" data-aos-duration="1000">
                        </p>
                        <h3 class="section-title" data-aos="fade-up" data-aos-duration="1000">
                            <span class='n-section-title'>-</span> {{"AboutMe.Skills" | translate}}
                        </h3>
                        <ul class="skills-list" data-aos="fade-up">
                            <li class="skill-element" *ngFor='let skill of "AboutMe.SkillsList" | translate'>
                                <span class="underline" data-aos="fade-up" data-aos-duration="1000">{{skill}}</span>
                            </li> 
                        </ul>
                        <h3 class="section-title" data-aos="fade-up" data-aos-duration="1000">
                            <span class='n-section-title'>-</span> {{"AboutMe.SoftSkills" | translate}}
                        </h3>
                        <ul class="soft-skills-list" data-aos="fade-up">
                            <li class="soft-skill-element" *ngFor='let softSkill of "AboutMe.SoftSkillsList" | translate'>
                                <span class="underline" data-aos="fade-up" data-aos-duration="1000">{{softSkill}}</span>
                            </li> 
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="about-img-container">
                        <img (click)='analyticsService.sendAnalyticEvent("click_image", "about", "image")' class="rounded" width="270" height="200" src="assets/images/me2.jpg" alt="Robin Andrade">
                    </div>
                    <div class="about-right-container">
                        <h3 class="section-title" data-aos="fade-up" data-aos-duration="1000">
                            <span class='n-section-title'>-</span> {{"AboutMe.Language" | translate}}
                        </h3>
                        <ul class="language-list" data-aos="fade-up">
                            <li class="language-element" *ngFor='let language of "AboutMe.LanguageList" | translate'>
                                <span class="underline" data-aos="fade-up" data-aos-duration="1000">{{language}}</span>
                            </li> 
                        </ul>
                    </div>
                    <div class="about-right-container">
                        <h3 class="section-title" data-aos="fade-up" data-aos-duration="1000">
                            <span class='n-section-title'>-</span> {{"AboutMe.Education" | translate}}
                        </h3>
                        <ul class="education-list" data-aos="fade-up" *ngFor='let educate of "AboutMe.EducationList" | translate'>
                            <li class="education-element">
                                <span class="education-title" data-aos="fade-up" data-aos-duration="1000">🎓 {{educate.Title}}</span>
                            </li> 
                            <li class="education-element">
                                <span class="education-institution" data-aos="fade-up" data-aos-duration="1000">{{educate.Institution}}</span>
                            </li> 
                            <li class="education-element">
                                <span class="education-date" data-aos="fade-up" data-aos-duration="1000">{{educate.Date}}</span>
                            </li> 
                        </ul>
                        <ul>
                            <a data-aos="fade-up" href="https://www.credly.com/badges/141e9d0e-38e8-462d-8cea-641316231f5d/public_url"><img src="assets/images/aws-data-engineering.png" width="150px" height="150px"></a>
                            <a data-aos="fade-up" href="https://www.credly.com/badges/da967d9f-eec4-4f4a-b8f7-e40ca91a9bff/public_url"><img src="assets/images/aws-cloud-foundations.png" width="150px" height="150px"></a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
